
@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <h1>Helping Hand</h1>
    <p class="lead">This Portal is Useful for Orphanages and Organisation who want to donate/Help Orphanages.</p>

</div>

<div class="row">

    <div class="col-md-4">
        <h2>Donor</h2>
        <p>Would You like to Donate? </p>
        <p><a class="btn btn-default" href="~/OrphanageM/Index">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Adopt</h2>
        <p>Would You like to Adopt?</p>
        <p><a class="btn btn-default" href="~/HelpingHand/Index">Click Here &raquo;</a></p>
    </div>
</div>
