@model OrphanageMVC.Models.OrphanageRegistrationView

@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}


@*<small>@TempData["token"]</small>*@

<h2>WELCOME </h2>
<p>WE STRONGER TOGETHER.</p>

<div class="row">
    <div class="col-md-6">
        <h2>Child Registration</h2>
        <p>
            Fill all the authenticated information of child .
        </p>
        <p><a class="btn btn-default" href="~/OrphanageM/ChildRegistration">Register &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Subit Requirements</h2>
        <p>Plase Submit Your Requirement Here!</p>
        <p><a class="btn btn-default" href="~/OrphanageM/OrphanageRequirement">Submit &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Achievements of Organization</h2>
        <p>
            This is an Indian non-profit and non-governmental organization that provides care and protection to street and working children in Delhi/NCR.
            It provides residential care, education and skill-building programs, healthcare support, and talent development activities.
        </p>

    </div>
    <div class="col-md-6">
        <h2>Total Donation Amount</h2>
        <p>250000</p>

    </div>


    <div class="col-md-4">
        <h2>Helping Hands</h2>
        <p>If You want to donate / adopt a child Then Click Here!!</p>
        <p><a class="btn btn-default" href="~/OrphanageM/Index">Logout</a></p>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>








