@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Portal For Orphanages</h1>
    <p class="lead">This Portal is Useful for Orphanages and Organisation who want to donate/Help Orphanages.</p>
    
</div>

<div class="row">
    
    <div class="col-md-4">
        <h2>Orphanages</h2>
        <p>You can Register/Login Your orphanages Here!! </p>
        <p><a class="btn btn-default" href="~/OrphanageM/Index">Register/Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Helping Hands</h2>
        <p>If You want to donate / adopt a child Then Click Here!!</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Contribute &raquo;</a></p>
    </div>
</div>