@{
    ViewBag.Title = "Home Page";
}

<style>
    .info {
        color: navajowhite;
        font-weight: 500;
    }
</style>

<div class="container" style="background: url('https://img.freepik.com/free-photo/little-kids-cheering-while-holding-white-board_53876-97648.jpg?size=626&ext=jpg') no-repeat;background-size:cover">

    <div class="jumbotron text-center" style="background-color: transparent">
        <h1>Welcome to<br /> ORPHAN KALYAN <br />portal</h1>
        <p class="lead">
            we connect orphanages to common people, orphanages who want help can connect with us
            we help them fulfill their needs,
        </p>
        <p class="lead">want to do some charity?? you are at the right place explore all the listed orphanages and help them</p>

    </div>

    <div class="row">

        <div class="col-lg-6" style="opacity:0.8">
            <div class="card text-center" style="background-color:lightgrey; padding:20px; min-height:200px">
                <h2>Orphanages</h2>
                <p>
                    need help in funding and adoption?
                    You can Register/Login Your orphanages Here!!
                </p>
                <p><a class="btn btn-success" href="~/OrphanageM/Index">Login </a></p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card text-center" style="background-color: lightgrey; padding: 20px; min-height: 200px;opacity:0.8">
                <h2>Helping Hands</h2>
                <p>If You want to donate something or want to adopt a child</p>
                <p><a class="btn btn-primary" href="#">explore</a></p>
            </div>
        </div>
    </div>
    <hr />
    <br />

</div>