@model IEnumerable<OrphanageMVC.Models.reqTable>
@{
    ViewBag.Title = "Donor";
}

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                @*<div class="col-sm-4 py-3 py-sm-3">*@
                <div class="col-lg-4 col-md-6 py-4 py-sm-3">
                    <div class="card box-shadow">
                        <img class="card-img-top" src="~/IMG/l3.png" alt="Card image cap">
                        <div class="card-body">
                            <h2 class="card-title">@item.amount</h2>
                            <div class="card-body">
                                <p class="card-title">
                                    @item.description
                                </p>
                            </div>

                            <a href="@Url.Action("Dummy", "Card",new { id=@item.oId})" class="btn btn-success" style="font-size:20px;margin-left:15px">Pay</a>



                        </div>
                    </div>
                </div>
            }

 

        </div>
    </div>

