@{ ViewBag.Title = "Welcome"; }
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>Let's reach out to the more people and grow the organization</p>
<p>Lets register the organisation.</p>

<div class="row">
    <div class="col-md-6">
        @*<h2>Orphanages</h2>
            <p>
                This option will help to register the organization and provide the details about the organization.
            </p>*@
        <p><a class="btn btn-default" href="~/orphanage/Registration">Register &raquo;</a></p>
    </div>
    <div class="col-md-6">
        @*<h2>Visiters</h2>
            <p>This option will help to get the list of orphanages and their details.</p>*@
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Login &raquo;</a></p>
    </div>

</div>
